*{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}


.b--body{
  background:rgb(75, 73, 73);
}


/*COOKIES*/
.container-cookies{
display: none;
background-color: #fff;
padding: 20px;
width:calc(100% - 40px);
max-width: 300px;
line-height:150%;
border-radius:10px ;
position: fixed;
bottom: 20px;
left: 20px;
z-index: 100;
padding-top: 60px;
box-shadow: 0px 2px 20px 10px rgba(222, 222, 222,.25);
text-align: center;
}

.container-cookies.active{
display: block;
}


.container-cookies .cookies-img{
max-width:100px;
box-shadow: 0px 2px 20px 10px rgba(3, 2, 2, 0.25);
border-radius: 10%;
}

.container-cookies .title-cookies,.p-cookies{
margin: 15px;
}

.container-cookies .botton-cookies{
width: 100%;
border:none ;
background:rgb(250, 150, 0);
color: #fff;
text-align: center;
padding: 15px 20px;
cursor: pointer;
font-weight: 200;
transition: .3s ease all;
border-radius: 5px;
margin-bottom: 15px;
font-size: 14px;
}
.container-cookies .botton-cookies:hover{
background-color: #444;
}
.container-cookies .a-cookies{
color: #4dbfff;
text-decoration: none;
font-size: 14px;
}
.container-cookies .a-cookies:hover{
text-decoration: underline;
}

.background-cookies{
display: none;
background:rgba(0, 0, 0, 0.801);
position: fixed;
z-index: 99;
width: 100vw;
height: 100vh;
top:0;
left: 0;
}
.background-cookies.active{
display: block;
}


/**SPINNER DE LOADING HTML**/
  .center__loading{
    overflow:hidden;
    background: radial-gradient(rgb(255, 94, 0),rgb(245, 180, 2));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 80px;
  }
  .imagen-spinner{
    border-radius: 90px;
    opacity: .7;
    width: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(2, 2, 2);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
/*NAV*/
nav{
  background:linear-gradient(to left, rgb(255, 136, 0),rgb(255, 217, 0));
}
.nav-ul-submit{
   width: 100%;
   background-color: rgb(247, 210, 0,.7);
}
.navbar-brand img{
  width: 50px;
}
.bg-color-a{
  font-weight: bolder;
  font-size: .9rem;
}
.bg-color-a{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.bg-color-a:hover{
  color: #fff;
}
.bg-color-a_res{
  color: #fff;
}
.bg-color-a_res:hover{
  color: #000;
}

/*VIDEO*/

.container-video{
  margin-top: 30px;
  width: 100%;
 display: flex;
 justify-content: space-around;
 align-content:center;
 flex: 1 1;
}
@media only screen and (max-width: 680px) {
  .container-video{display: block;
  }
}

.container-video-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__precentacion{
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
}
.heigt-img-carrucel{
  object-fit: contain;
  width: 100%;
  height: 500px;
}

/*IMG A CARRITO*/
.container-video-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.container-video-img{
  padding: 20px;
}

/*ANIMACION*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  border-radius: 10px;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-width:200px;
  max-width: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


/*BOTON WHATSAPP*/

.div-whatsapp{
position: fixed;
width: 55px;
height: 55px;
line-height: 55px;
bottom: 30px;
right: 30px;
}
.div-whatsapp img{
width:55px;
}



/*ECOMMNER INDEX*/


/*TITLE CONTAINER*/
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
.container-title-shop{
display: flex;
align-items: center;
justify-content: center;
margin: 20px 10px;
background:linear-gradient(to right, rgb(255, 136, 0),rgb(255, 217, 0));
font-weight: 800;
font-family: 'Bakbak One';
align-items: center;
padding: 20px;
box-shadow: 2px 2px 2px 4px  #000;
border-radius: 10px;

}
.container-title-shop-h1{
color: #fff;
}
.margin-card{
margin: 1px;
}
/*SRARCHFILTERR***/
.container-filter{
display: flex;
justify-content: center;
padding: 10px;
background: linear-gradient(to top,rgb(248, 142, 4),rgb(251, 255, 0));
margin-bottom: 50px;
position: sticky;
top: 0;
z-index: 90;
}
.filter{
display: none;
}

/*fin de filter*/
.article-content{
  margin-bottom: 20px;
}
.card-img{
width: 100%;
height: 300px;
object-fit: contain;
}
.card-title-tex{
font-size: 2vw;
}

.container-content{
display: flex;
justify-content: center;
}


/*FOOTER*/

.footer-p{
  text-align: center;
  border-top: 2px dotted #444;
}
.footer-article{
  background-color: #000;
  border-top: 1px solid rgb(34, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}
@media only screen and (max-width: 680px) {
  .footer-article{
    flex-direction: column;
  }
  .article__ecommers{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .card-widt{
    width: 80%;
    margin: 10px;
  }
  .responsive-card{
        width: 30%;
  }
}

.footer-article-div-redes{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content:center;
  border-right: 2px solid #fff;
}


.footer-article-div-ul-redes{
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
}
.title-redes{
  text-decoration: none;
  color: #fff;
}
.color-phone{
  color: #fff;
}
.footer-article-div-ul-redes-li{
 padding: 20px;
 list-style-type:none;
}

.footer-article-div-ul{
 
  width: 100%;
  padding: 20px;
  
}
.footer-article-div-ul-p{
  color: #fff;
  font-size: 2.5vw;
}
.footer-article-div{
  flex: auto;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.height-size{
  height:400px;
  
}

.imagen_redes{
  width: 20px;
  object-fit: cover;
}

.location_map{
  width: 100%;
}




